[kis]
# 한국투자증권 KIS Developers (https://apiportal.koreainvestment.com) 에서 발급
app_key    = "PS9YYgUkJ4rtFrMke7HCCXRTm3Bb5BfJxCVO"
app_secret = "jh5K+5I4nKV0/7orWpCfM8Pr2kR0BL1ITEQNTZKu64jWWfycPFnsaDsohyEbpTjpPpI9tI8J8Fotp2+W43ckk6bZt7xEWi8mYwHgl3xYm2nYGfN2Vk62I4z6lwQMCbktv4ytB5HV+cwnc+pjqV3dmnkVRUNao5R7lTW2UCKpWo9IgEIXLAk="

# 실전투자: prod  /  모의투자: vps
env = "prod"
